
---
import MainHead from '../components/MainHead.astro';
import NavBar from '../components/NavBar.astro';
import { ClientRouter } from "astro:transitions";

import '../styles/global.css'

// Learn about using Astro layouts:
// https://docs.astro.build/en/basics/layouts/


interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="es">
	<head>
		<MainHead {title} {description} />
		<!-- // https://docs.astro.build/en/guides/view-transitions/#enabling-view-transitions-spa-mode -->
		<ClientRouter />
	</head>
	<body class="w-screen">
		<NavBar />

		<main class="container">
			<slot />
		</main>
	</body>
</html>
